:root {
  --hatter: #5fad93; /* container border és body background színe */
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
}

body {
  background-color: var(--hatter);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  border: 5px dashed var(--hatter);
  width: 50%;
  background-color: #e8e8e8;
}

.container h1 {
  word-break: break-word;
  font-size: 3rem;
  margin-top: 3rem;
}

.jegyek {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.jegyek [for] {
  font-size: 1.75rem;
  border-left: 5px solid crimson;
  border-right: 5px solid crimson;
  border-bottom: 2px dashed crimson;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.jegyek ::placeholder {
  font-size: 1.33rem;
  color: white;
}

.felnottjegy {
  padding-bottom: 1rem;
  border-bottom: 3px dashed crimson;
}

input {
  outline: none;
  border: 0;
  border-bottom: 3px solid black;
  font-size: 1.33rem;
  padding: 0.5rem;
  color: white;
  background-color: grey;
  width: 3rem;
}

.vasarlas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  transition: all 0.2s;
  padding: 1rem 1.5rem;
  border: 0;
  background-color: #80a0e8;
  font-size: 1.5rem;
}

.vasarlas:hover {
  opacity: 1;
}

.vasarlas > svg {
  width: 3rem;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
}

.vasarlas:hover svg {
  transform: translateX(5px);
}

.vasarlas:active {
  transform: scale(0.95);
}

.osszegszoveg {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.felugro {
  visibility: hidden;
  font-size: 1.5rem;
  color: white;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1rem 0;
}

.felugrouzenet {
  text-align: center;
}

.osszeg {
  border-bottom: 2px solid grey;
}

.container > p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}